@model SendMailDto
@{
    ViewData["Title"] = "Contact Us ";
}
<h1>@ViewBag.Message</h1>
<link rel="stylesheet" href="~/css/ContactUsStylesheet.css" asp-append-version="true" />
<!-- ----------------------------------------------------------------------------------------------------------CONTACT FORM---------------------------------------------------- -->
<body class="contactus_body">
    <div id="contact_page">
        <div class="contact_page_title_block">
            <h1 class="contact_title_text">Contact Us</h1>                          <!-- simple page title -->
        </div>
        <form class="form_block" method="post">
            <div class="form-group_name">
                <input type="text" asp-for="@Model.Name" class="form-control" placeholder="Name">
                <span class="text-danger" asp-validation-for="@Model.Name"></span>
            </div>
            <div class="form-group_subject">
                <input type="text" asp-for="@Model.Subject" class="form-control" placeholder="Subject">
                <span class="text-danger" asp-validation-for="@Model.Subject"></span>
            </div>
            <div class="form-group_email">
                <textarea class="form-control" asp-for="@Model.Email" placeholder="Email"></textarea>
                <span class="text-danger" asp-validation-for="@Model.Email"></span>
            </div>
            <div class="form-group_message">
                <textarea class="form-control" asp-for="@Model.Message" placeholder="Message"></textarea>
                <span class="text-danger" asp-validation-for="@Model.Message"></span>
            </div>
            <button type="submit" class="btn btn-primary">SEND</button>
        </form>
    </div>
</body>
<!-- --------------------------------------------------------------------------------------------------------------FOOTER---------------------------------------------------- -->
